In [3]:
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn
import numpy as np

In [4]:
ranger=randn(9)
ranger

array([-0.40014348, -0.18513956, -1.74234309, -0.55142999, -0.13488367,
        0.43679791, -0.57377512,  1.14414205,  0.3505486 ])

In [5]:
dframe=DataFrame(ranger.reshape(3,3),columns=list('ABC'),index=['sam','jam','fam'])
dframe

            A         B         C
sam -0.400143 -0.185140 -1.742343
jam -0.551430 -0.134884  0.436798
fam -0.573775  1.144142  0.350549

In [6]:
dframe1=DataFrame(randn(16).reshape(4,4),columns=list('ACDE'),index=['sam','fam','gam','tam'])
dframe1

            A         C         D         E
sam  0.368292 -0.327836  0.360516  0.330783
fam  0.406605  0.328964 -1.819251  0.426957
gam  0.825875 -0.000838 -0.979563 -1.472627
tam  1.889656 -1.004656  0.849892 -0.092940

In [7]:
#here we loose the data
dframe+dframe1

            A   B         C   D   E
fam -0.167170 NaN  0.679512 NaN NaN
gam       NaN NaN       NaN NaN NaN
jam       NaN NaN       NaN NaN NaN
sam -0.031851 NaN -2.070179 NaN NaN
tam       NaN NaN       NaN NaN NaN

In [8]:
#simple addition equalize uncommon values to zero (data loose) so to avoid this following method can be used 
#this method will useful if you don't want to loose data just because of uncommon things
dframe.add(dframe1,fill_value=0)

            A         B         C         D         E
fam -0.167170  1.144142  0.679512 -1.819251  0.426957
gam  0.825875       NaN -0.000838 -0.979563 -1.472627
jam -0.551430 -0.134884  0.436798       NaN       NaN
sam -0.031851 -0.185140 -2.070179  0.360516  0.330783
tam  1.889656       NaN -1.004656  0.849892 -0.092940

In [9]:
ser=dframe.iloc[1]
ser

A   -0.551430
B   -0.134884
C    0.436798
Name: jam, dtype: float64

In [10]:
dframe

            A         B         C
sam -0.400143 -0.185140 -1.742343
jam -0.551430 -0.134884  0.436798
fam -0.573775  1.144142  0.350549

In [11]:
dframe-ser

            A         B         C
sam  0.151287 -0.050256 -2.179141
jam  0.000000  0.000000  0.000000
fam -0.022345  1.279026 -0.086249

## Rank and Sort
#### .sort_index()
#### .sort_values()

In [12]:
sr=Series(randn(5),index=[2,0,1,4,3])
sr

2    1.232620
0   -0.627978
1   -0.733313
4   -2.352640
3    2.737191
dtype: float64

In [13]:
sr.sort_index()

0   -0.627978
1   -0.733313
2    1.232620
3    2.737191
4   -2.352640
dtype: float64

In [14]:
sr.rank()

2    4.0
0    3.0
1    2.0
4    1.0
3    5.0
dtype: float64

In [17]:
sr.sort_values()
sr.rank()

2    4.0
0    3.0
1    2.0
4    1.0
3    5.0
dtype: float64