In [14]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [15]:
new_ser=Series([1,2,3,4,5], index=['p','q','r','s','t'])
new_ser

p    1
q    2
r    3
s    4
t    5
dtype: int64

In [16]:
new_ser_index=new_ser.index
new_ser_index

Index([u'p', u'q', u'r', u's', u't'], dtype='object')

In [17]:
new_ser_index[2]

'r'

### indexes are immutable you can't change them directly

new_ser_index[2]='e'

# REINDEXING

In [18]:
new_ser

p    1
q    2
r    3
s    4
t    5
dtype: int64

In [19]:
# reindex adds new indexes with fill_values
ri_ser=new_ser.reindex(['p','q','r','a','b','c'],fill_value=0)

In [20]:
ri_ser

p    1
q    2
r    3
a    0
b    0
c    0
dtype: int64

In [21]:
ri_ser1=new_ser.reindex(['p','q','r','a','b','c'],method='ffill')
ri_ser1

p    1.0
q    2.0
r    3.0
a    NaN
b    NaN
c    NaN
dtype: float64

### reindexing with forward filling method in which all the newly added indexes have same values untill a existing index is come.

In [22]:
ser=Series(['a','b','c'],index=[0,4,10])
ser

0     a
4     b
10    c
dtype: object

In [23]:
ranger=range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [24]:
r_ser=ser.reindex(ranger,method='ffill')
r_ser

0     a
1     a
2     a
3     a
4     b
5     b
6     b
7     b
8     b
9     b
10    c
11    c
12    c
13    c
14    c
dtype: object

## reindexing rows and columns

In [25]:
from numpy.random import randn
dataframe=DataFrame(randn(36).reshape(6,6),index=['a','b','c','d','e','f'],
                    columns=['c1','c2','c3','c4','c5','c6'])
dataframe.index.name='indexes'
dataframe

               c1        c2        c3        c4        c5        c6
indexes
a       -0.387310 -0.781589  0.942747  1.424576 -0.331886 -0.101165
b       -0.751129 -1.177080 -0.173739 -0.144970  0.968525  1.597383
c        0.144235 -0.957362  0.077069  0.359272 -1.513577  1.316740
d       -1.894112 -0.154833 -0.281132 -1.144495 -0.212566  0.402526
e       -0.193388 -0.360631 -0.397592 -0.971724 -0.050057 -0.317539
f       -0.188679 -2.008381  0.831187  1.211726 -0.775149 -0.742906

In [27]:
dframe2=dataframe.reindex(index=['a','b','c','d','e','f','g'],fill_value=0)
dframe2

               c1        c2        c3        c4        c5        c6
indexes
a       -0.387310 -0.781589  0.942747  1.424576 -0.331886 -0.101165
b       -0.751129 -1.177080 -0.173739 -0.144970  0.968525  1.597383
c        0.144235 -0.957362  0.077069  0.359272 -1.513577  1.316740
d       -1.894112 -0.154833 -0.281132 -1.144495 -0.212566  0.402526
e       -0.193388 -0.360631 -0.397592 -0.971724 -0.050057 -0.317539
f       -0.188679 -2.008381  0.831187  1.211726 -0.775149 -0.742906
g        0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

In [29]:
columns_new=['c1','c2','c3','c4','c5','c6','c7']

In [30]:
dframe2.reindex(columns=columns_new,fill_value=0)

               c1        c2        c3        c4        c5        c6  c7
indexes
a       -0.387310 -0.781589  0.942747  1.424576 -0.331886 -0.101165   0
b       -0.751129 -1.177080 -0.173739 -0.144970  0.968525  1.597383   0
c        0.144235 -0.957362  0.077069  0.359272 -1.513577  1.316740   0
d       -1.894112 -0.154833 -0.281132 -1.144495 -0.212566  0.402526   0
e       -0.193388 -0.360631 -0.397592 -0.971724 -0.050057 -0.317539   0
f       -0.188679 -2.008381  0.831187  1.211726 -0.775149 -0.742906   0
g        0.000000  0.000000  0.000000  0.000000  0.000000  0.000000   0

In [31]:
dframe2.loc[['a','b','c','d','e','f','g'],columns_new]

C:\Users\sk314\Anaconda2\lib\site-packages\pandas\core\indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

               c1        c2        c3        c4        c5        c6  c7
indexes
a       -0.387310 -0.781589  0.942747  1.424576 -0.331886 -0.101165 NaN
b       -0.751129 -1.177080 -0.173739 -0.144970  0.968525  1.597383 NaN
c        0.144235 -0.957362  0.077069  0.359272 -1.513577  1.316740 NaN
d       -1.894112 -0.154833 -0.281132 -1.144495 -0.212566  0.402526 NaN
e       -0.193388 -0.360631 -0.397592 -0.971724 -0.050057 -0.317539 NaN
f       -0.188679 -2.008381  0.831187  1.211726 -0.775149 -0.742906 NaN
g        0.000000  0.000000  0.000000  0.000000  0.000000  0.000000 NaN

## drop entry

In [32]:
srs=Series(randn(4),index=['a','b','c','d'])
srs

a   -0.444232
b    0.866747
c   -0.926693
d   -0.646726
dtype: float64

In [33]:
#now if we want to drop b -----> .drop(index)
srs.drop('b')

a   -0.444232
c   -0.926693
d   -0.646726
dtype: float64

In [48]:
dframe3=DataFrame(randn(9).reshape(3,3),index=['INDIA','USA','RUSSIA'],columns=['pop','size','area'])
dframe3.index.name='Countries'
dframe3

                pop      size      area
Countries
INDIA     -0.468357  0.956818  0.119882
USA       -0.070006 -0.929099  0.285958
RUSSIA     2.548512 -0.991358  0.354509

In [49]:
dframe3.drop('USA')

                pop      size      area
Countries
INDIA     -0.468357  0.956818  0.119882
RUSSIA     2.548512 -0.991358  0.354509

In [50]:
dframe3

                pop      size      area
Countries
INDIA     -0.468357  0.956818  0.119882
USA       -0.070006 -0.929099  0.285958
RUSSIA     2.548512 -0.991358  0.354509

## .drop() doesn't affect permanantly so if you want to use a dropped array just save it with another name or just set inplace = Ture

In [51]:
#like this
dframe3_dropped=dframe3.drop('USA')
dframe3_dropped

                pop      size      area
Countries
INDIA     -0.468357  0.956818  0.119882
RUSSIA     2.548512 -0.991358  0.354509

### in case of column drop, specify the axis (column axis=1)

In [52]:
dframe3.drop('area',axis=1)

                pop      size
Countries
INDIA     -0.468357  0.956818
USA       -0.070006 -0.929099
RUSSIA     2.548512 -0.991358

## selecting enteries

In [53]:
dframe4=DataFrame(randn(16).reshape((4,4)),index=['a','b','c','d'],columns=['c1','c2','c3','c4'])
dframe4

         c1        c2        c3        c4
a  1.236134  0.112106 -0.257285 -1.320534
b -1.432406 -0.061341  0.524506 -0.119673
c  2.109387  1.532290  0.037023  1.211936
d -1.369877  0.496995  1.058424 -1.836574

In [54]:
dframe4[dframe4['c1']>0]

         c1        c2        c3        c4
a  1.236134  0.112106 -0.257285 -1.320534
c  2.109387  1.532290  0.037023  1.211936

In [61]:
dframe4[dframe4['c1']>0]

         c1        c2        c3        c4
a  1.236134  0.112106 -0.257285 -1.320534
c  2.109387  1.532290  0.037023  1.211936

In [83]:
dframe4>0

      c1     c2     c3     c4
a   True   True   True   True
b   True  False  False   True
c  False   True  False   True
d  False   True   True  False

In [85]:
# to retrieve data from row use .ix, .loc,.iloc
dframe4.loc['d']

c1   -1.062117
c2    1.595810
c3    1.081720
c4   -0.459590
Name: d, dtype: float64

In [86]:
# retrieve c row
dframe4.iloc[2]

c1   -0.625868
c2    0.472540
c3   -0.179459
c4    0.527172
Name: c, dtype: float64