In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [3]:
dframe3=pd.read_csv('C2ImportCalEventSample.csv')
dframe3

,Start Date,Start Time,End Date,End Time,Event Title,All Day Event,No End Time,Event Description,Contact,Contact Email,Contact Phone,Location,Category,Mandatory,Registration,Maximum,Last Date To Register
0,9/5/2011,3:00:00 PM,9/5/2011,NaN,Social Studies Dept. Meeting,N,Y,Department meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011
1,9/5/2011,6:00:00 PM,9/5/2011,8:00:00 PM,Curriculum Meeting,N,N,Curriculum Meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011

In [4]:
#first row will be column header
dframe4=pd.read_csv('mynew.csv')
dframe4

   a  b  c  d
0  1  2  3  g
1  d  3  d  f

In [10]:
# to avoid it
dframe4=pd.read_csv('mynew.csv',header=None)
dframe4

   0  1  2  3
0  a  b  c  d
1  1  2  3  g
2  d  3  d  f

In [12]:
# we can also use .read_table or .read_csv but in here we have to specify the delimiter as sep
dframe4=pd.read_csv('mynew.csv',sep=',',header=None)
dframe4

   0  1  2  3
0  a  b  c  d
1  1  2  3  g
2  d  3  d  f

### how to create a csv file and saved it

In [13]:
dframe4.to_csv('created.csv')

In [14]:
#instead of saving, if you want to read it here
import sys
dframe4.to_csv(sys.stdout)

,0,1,2,3
0,a,b,c,d
1,1,2,3,g
2,d,3,d,f

In [15]:
dframe4.to_csv(sys.stdout,sep='|')

|0|1|2|3
0|a|b|c|d
1|1|2|3|g
2|d|3|d|f

In [16]:
# we can also specify the columns which we need to read
dframe4.to_csv(sys.stdout,sep=' ',columns=[0,1,2])

 0 1 2
0 a b c
1 1 2 3
2 d 3 d

In [17]:
url='https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html'

## reading excel files

In [ ]:
#first install these two modules
# pip install xlrd
# pip install openpyxl

In [19]:
# first open and then parse the excel file
xlsfile=pd.ExcelFile('newexcel.xlsx')

In [20]:
dframe=xlsfile.parse('Sheet1')

In [21]:
dframe

   random_no  Unnamed: 1  Unnamed: 2  Unnamed: 3
0          1          76          86          64
1          2           7           3           2
2         45          53          34          45
3          6           8          87          67

In [ ]:
url='https://pandas.pydata.org/pandas-docs/version/0.13.1/generated/pandas.io.excel.ExcelFile.parse.html'